<!-- projects template -->

<article class="clearfix col-lg-4 text-xs-center" data-category="{{category}}" data-author="{{author}}">
  <header>
    <a href="{{projectURL}}"><h3 class="h3">{{title}}</h3></a>
    <a href="{{projectURL}}"><img class ="projectImg" src="{{imgURL}}"></a>
  </header>
  <div class="byline">
      Published <span>{{publishedOn}}</span>
    </div>
  <section class="project-body">{{{body}}}</section>
  <a href="{{githubURL}}" class="read-on">Check out the code!</a>
</article>

<!-- /projects template -->